<div class="jumbotron">
<h2>Some stuff about Rails Girls</h2>

<h3 style="color:#d43f3a; font-weight:bold;">Rails Girls was born in Finland, but is nowadays a global, non-profit volunteer community.</h3>

<h4><a href ="http://rails-girls-map.herokuapp.com/">Map of all the Rails Girls Workshop</a></h4>

<p>Rails Girls was founded to help you acquire the tools to build your ideas!</p>

<p>The first steps of learning how to program can be difficult. Our goal is it to help attendees with these first steps. We want to show you that programming is fun and creative and that there is a wonderful community that will support you.</p>

<p>We provide a mentored collaborative learning opportunity.
where you'll learn sketching, prototyping, basic programming and get introduced to the world of technology. </p>

<p>We are dedicated to providing harassment-free learning experiences for everyone, regardless of gender, gender identity and expression, sexual orientation, disability, physical appearance, body size, race, or religion. </p>

<p>Some women attend to get introduced to the tools and vocabulary of programming for fun and curiosity. Others use it as a launchpad for transitioning careers.</p>

<p>The Workshop is a hands on introduction to Rails. The workshop has a main focus on women with no previous Ruby on Rails programming experience and who want to be able to build their own applications. The program of the workshop includes an overview of the Rails framework and a practical exercise in which attendees will be guided by coaches through the application building process.</p>

</div>
