<div class="jumbotron">
<div class="border row">
  <div style="background-color:#ccc09e; padding:2px 10px">
    <h3 style="color:#d43f3a; font-weight:bold;">How much does it cost?</h3>
    <p>Nothing, it's free because of our wonderful sponsors and guides! You just need to be excited! And you need to show up ready to learn.</p>
  </div>
  <br/><br/>
  <div style="background-color:#fff; padding:2px 10px">
    <h3 style="color:#d43f3a; font-weight:bold;">What will I learn?</h3>
    <p>You'll learn designing, prototyping and coding with
       the help from our friendly coaches.</p>
  </div>

  <br/><br/>

  <div style="background-color:#ccc09e; padding:2px 10px">
    <h3 style="color:#d43f3a; font-weight:bold;">Who is this for?</h3>
    <p>The workshop is aimed at beginners to programming. Women of any age with basic knowledge of working with a computer are encouraged to attend.</p>
    <p>If you already program and are curious about Rails feel free to go through <a href="https://gist.github.com/jendiamond/5a26b531e8e47b4aa638">the tutorial
    </a> on your own. It is laid out step by step.</p>
  </div>

<br/><br/>

  <div style="background-color:#fff; padding:2px 10px">
    <h3 style="color:#d43f3a; font-weight:bold;">Can men attend?</h3>
    <p>Women are given priority, but men are welcome as long as they are accompanied by an interested woman.</p>
  </div>

<br/><br/>

  <div style="background-color:#ccc09e; padding:2px 10px">
    <h3 style="color:#d43f3a; font-weight:bold;">How can I help?</h3>
    <p>Do you know Ruby on Rails? We’re also looking for friendly coaches. Email us at railsgirlsla@gmail.com with the subject line: 
    "RG2016 Coach"</p>
  </div>

  <br/><br/>

<div style="background-color:#fff; padding:2px 10px">
  <h3 style="color:#d43f3a; font-weight:bold;">Can men Coach?</h3>
  <p>We love cool male coaches. We want to have a mix of male and 
     female coaches.</p>
</div>

<br/><br/>

<div style="background-color:#ccc09e; padding:2px 10px">
  <h3 style="color:#d43f3a; font-weight:bold;">What do I need?</h3>
  <p>You need your own laptop, curiosity and a sprinkle of imagination!</p>
</div>

<br/><br/>

<div style="background-color:#fff; padding:2px 10px">
  <h3 style="color:#d43f3a; font-weight:bold;">I signed up for the event, am I automatically attending?</h3>
  <p>No, unfortunately not. Because we can only accept 25 students we want to make sure that all applicants are motivated and committed.</p>
  <p>All applicants must finish four short tutorials to be considered.</p>
  <p>Most applicants will be accepted when they submit proof of completion of the tutorials.</p>
  <p>The tutorials are fun, for beginners and will help you get the most out of the workshop, so don't stress out, <b>it's not a test. You can do it. :)</b></p>
  <p>If you are accepted and something happens so that you cannot attend, let us know. We can give the free seat to someone else.</p>
  <h3 style="color:#d43f3a;">Didn’t get in this time? Apply again when a new workshop opens!</h3>
</div>

<br/><br/>

<div style="background-color:#ccc09e; padding:2px 10px">
  <h3 style="color:#d43f3a; font-weight:bold;">How can I help?</h3>
  <p><a href="http://railsgirls.com/la-sponsor-prospectus.html">We can always use your donations for future events.</a></p>
 </p>
</div>
