<div class="jumbotron">
  <h1>Apply to Rails&nbsp;Girls&nbsp;LA October&nbsp;21<sup>st</sup>&nbsp;&&nbsp;22<sup>nd</sup> &nbsp;&#9825;</h1>
<!--   <p class="lead">Application deadline: October 2<sup>nd</sup><br/> -->
  Only 25 applicants will be accepted. Applicants must be at least 13 years old.<br/>
  Beginners will be given priority. Applications will be reviewed as they arrive.</p>
  <p><a class="btn btn-lg btn-danger" href="./members/sign_up" role="button">Sign up today &#9825;</a></p>
</div>
