<div class="jumbotron">
  <h2>Level 1 -Rails Girls LA Application <%= image_tag("lock.png") %></h2>
  <h4>Application deadline: October 2nd -- Applicants must be at least 13 years old.</h4>
  <h4>Beginners will be given priority. -- Applications will be reviewed as they arrive.</h4>

  <h4>Because we can only accept 25 students we want to make sure that all applicants are motivated and committed.</h4>
  <ul>
    <li style="font-size: 150%">All applicants must finish four short tutorials to be considered.</li><br/>
    <li  style="font-size: 150%">Applicants will be reviewed when they submit proof of completion of the tutorials.</li><br/>
    <li  style="font-size: 150%">The tutorials are fun, made for beginners and will help you get the most out of the workshop so don't stress out, <b>it's not a test. :)</b></li><br/>
    <li  style="font-size: 150%">You will receive an email with a list of the tutorials once you submit this form.</b></li>
  </ul>

  <div style="background: #ccc09e; padding: 20px;">
    <%= render 'form', user: @user %>
  </div>
</div>
