<div class="jumbotron">
  <h2>Rails Girls LA Application</h2>
  <h4>Application deadline: October 2nd -- Applicants must be at least 13 years old.</h4>
  <h4>Beginners will be given priority. -- Applications will be reviewed as they arrive.</h4>

  <h4>Because we can only accept 25 students we want to make sure that all applicants are motivated and committed.</h4>
  <ul>
    <li>All applicants must finish a series of four short tutorials to be considered.</li>
    <li>Applicants will be accepted when they submit proof of completion of the tutorials.</li>
    <li>The tutorials are fun, for beginners and will help you get the most out of the workshop so don't stress out, <b>it's not a test. :)</b></li>
  </ul>

  <div style="background: #BBFFFF; padding: 20px;">
    <%= render 'form', user: @user %>
    <%= link_to 'Back', users_path %>
  </div>
</div>
