<h2>Coaches, Please Sign Up!</h2>
<p>Rails Girls LA and viva-LA-vue is looking for developers that are passionate about sharing their knowledge with others.</p>
<p>You don't have to be an expert, just interested in helping. Sometimes beginners make the best coaches.</p>
<p>This year there are 3 days where you can help.</p>
<ol>
  <li><strong>Installfest</strong>: Friday, Oct. 16th. 6pm-10pm </li>
  <li><strong>Rails Girls</strong>: Saturday, Oct. 17th. 9am-6pm </li>
  <li><strong>viva-LA-vue</strong>: Saturday, Oct. 24th. 9am-6pm </li>
</ol>

<p>1. Friday, Oct. 16th. 6pm-10pm: Coaches help attendees get their computers setup for the Rails and Vue.js workshops.</p>

<p>2. Saturday, Oct. 17th. 9am-6pm: will consist of a full day of working in small groups. You will be assigned a group and work with them through developing their first Ruby on Rails application. <a href="https://gist.github.com/jendiamond/5a26b531e8e47b4aa638">The RailsGirls Guide</a></p>

<p>3. Saturday, Oct. 24th. 9am-6pm: will consist of a full day of working in small groups. You will be assigned a group and work with them through developing their first Vue.js application.</p>

<p>For more information on the event and the schedule check out the website: <a href="http://railsgirls.com/la#schedule">RailGirls LA &amp; viva-LA-vue Schedule</a></p>

<p>If you know anyone who would like to attend as a student or a coach, please encourage them to signup soon: <a href="http://railsgirls.com/la">Signup for RailGirls LA &amp; viva-LA-vue!</a></p>
<!-- <p>If you know anyone who would like to help out for the day please let us know. We welcome all help including people who know nothing about computers who just want to help by lending a hand to tidy, carry stuff, pick stuff up (food) and set stuff up.</p> -->

<p>This is a video about what we expect out of our coaches <a href="https://youtu.be/f2Bq7Pa0UPA">https://youtu.be/f2Bq7Pa0UPA</a></p>
<p>If you have any questions contact Jen Diamond at thejendiamond@gmail.com</p>

<h3>Thanks in advance for volunteering. :)</h3>

<%= render 'form', coach: @coach %>

<%= link_to 'Back', coaches_path %>
<hr/>

<iframe width="560" height="315" src="https://www.youtube.com/embed/f2Bq7Pa0UPA" frameborder="0" allowfullscreen></iframe>
