<h2>Coach Sign up for October 20th & 21st</h2>
<p>Rails Girls LA is looking for Ruby on Rails developers that are passionate about sharing their knowledge with others.</p>

<p>On Friday the 20st, 7pm-10pm, coaches help attendees get their computers set up for Ruby on Rails development.</p>

<p>Saturday the 21st, 9am - 6pm will consist of a full day of working in small groups. You will be assigned a group and work with them through developing their first Ruby on Rails application. <a href="https://gist.github.com/jendiamond/5a26b531e8e47b4aa638">The RailsGirls Guide</a></p>

<p>For more information on the event and the schedule check out the website: <a href="http://railsgirls.com/la#schedule">RailGirls LA Schedule</a></p>

<p>If you know anyone who would like to help out for the day please let us know. We welcome all help including people who know nothing about computers who just want to help by lending a hand to tidy, carry stuff, pick stuff up (food) and set stuff up.</p>

<p>If you have any questions contact Jen Diamond at thejendiamond@gmail.com</p>

<h3>Thanks in advance for volunteering. :)</h3>

<%= render 'form', coach: @coach %>

<%= link_to 'Back', coaches_path %>
