<div class="container">
<footer class="footer navbar-fixed-bottom navbar-inverse" id="footer">
  <div class="container">
    <h5>Contact the LA Chapter of Rails Girls at railsgirlsla@gmail.com Follow us on twitter @RailsGirlsLA </h5>
 <h5>Rails Girls International 2010-2020 <a href="http://railsgirls.com/press">Contact us</a> or follow us on <a href="https://twitter.com/railsgirls">Twitter</a> and <a href="https://www.facebook.com/railsgirls">Facebook</a></h5>
  </div>
</footer>
</div>