<!DOCTYPE html>
<html>
  <head>
    <title>Railsgirls Signup</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link href='https://fonts.googleapis.com/css?family=Raleway' rel='stylesheet' type='text/css'>
  </head>

  <body>
    <div class="container">
       <div class="header clearfix">
        <nav>
          <ul class="nav nav-pills pull-right">
            <li role="presentation" class="active"><a href="#">Home</a></li>
            <li role="presentation"><a href="#">About</a></li>
            <li role="presentation"><a href="#">Contact</a></li>
          </ul>
        </nav>
        <h3 class="text-muted">Project name</h3>
      </div>

      <div class="jumbotron">
        <h1>Apply to Rails Girls LA October 21st & 22nd 2016</h1>
        <p class="lead">Application deadline: October 2nd<br/>
ONLY 25 applicants will be accepted. Applicants must be at least 13 years old.<br/>
Beginners will be given priority. Applications will be reviewed as they arrive.</p>
        <p><a class="btn btn-lg btn-success" href="#" role="button">Sign up today</a></p>
      </div>

      <%= yield %>
    </div>
  </body>
</html>
